.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 32px;
  background: #ffffff;
  border-radius: 8px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 24px;
}

.id {
  font-size: 20px;
  font-weight: 600;
  color: #666;
  align-self: flex-start;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-top: 8px;
  color: #222;
}

.body {
  font-size: 18px;
  line-height: 1.6;
  color: #444;
}

.button_conatiner {
  display: flex;
  gap: 12px;
  margin-top: 24px;
}

.button {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: 500;

  transition: background 0.2s ease;
}

.button:hover {
  background-color: #4ba2ff;
}
