.home {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.home > h3 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}


.home > button:hover {
  background-color: var(--button-link-hover-color);
}

.loginModalInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.loginModalInner > p {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.loginModalInner > input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.loginModalInner > input:not(:last-child) {
  margin-bottom: 10px;
}

