.postFormContainer {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  font-size: 18px;
  color: #333;
  width: 100%;
}

.postFormContainer > h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.postFormContainer input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}

.postFormContainer textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
  height: 200px;
  margin-bottom: 20px;
}

.postFormContainer button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: #535bf2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.postFormContainer button:hover {
  background-color: #4ba2ff;
}

.lastEditPostIdText {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #666;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 30px 50px;
  border-radius: 8px;
  font-size: 18px;
}
